html 
{
   background-color: #FFF8DC;
}

nav
{
        display: flex;
	height: 10%;
        width: 100%;
	justify-content:center;
	align-items: center;
	background-color: #FAFAD2;
        background-image: url(satin-nuss.jpg);
        background-position: center;
        background-size: cover;
	
}

.pages li
{
  list-style: none ;
  background-color: #f5fffa; 
  display: inline-block;
  line-height: 30px;
}

.pages li a
{
    padding: 20px;
    text-decoration: none;
    font-family:'Orbitron', 'sans-serif';
    font-size: 15px;
    color: darkblue;
    display:block;
}

.pages li a.active
{
    color:darkblue;
    background-color: #FAFAD2;
}

.pages li a:hover
{
    color: lightblue;
}

.Allfont
{
    background-color: #FFE4E1;
    font-family:"Arial Black", Gadget, sans-serif;
    color:deepskyblue;
    width:100%;
}



.AllfontFixed
{
    width: 700px;
    font-family:'monospace',console;
    color:darkblue
}

.title
{
    font-family:"Arial Black", Gadget, sans-serif;
}

@media only screen and (min-width: 600px)

{

.Allfont
{
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    color:blue;
    font-size: 24px;
    background-color:#FFF5EE;
    width:100%;
}

	
.title
{
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}
	
}

@media only screen and (min-width: 725px)

{
	

.Allfont
{
    font-family:'monospace',console;
    color:darkblue;
    font-size: 20px;
    background-color:#FAFAD2;
    width:100%;
}


	
.title
{
    font-family:'monospace',courier new;
}
	
}	

* {box-sizing:border-box}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

#1 img
{
    width: 100%
}

#2 img
{
    width: 100%
}

#3 img
{
    width: 100%
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
